@import url('https://fonts.googleapis.com/css2?family=Jaini&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Jaini', sans-serif;
}
.cabecalho{
    background-color: #003399;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}

.sobre_corinthians{
    background-image: linear-gradient(#003399, #3b00501f);
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.sobre_corinthians-div-conteudo{
    width: 650px;
}

.sobre-corinthians-titulo{
    padding: 5px 0;
    text-align: center;
    font-size: 60px;
}

.sobre_corinthians-texto-um{
    font-size: 22px;
    padding: 10px 0;
}

.sobre_corinthians-texto-dois{
    font-size: 22px;
}

.sobre_corinthians-imagem{
    width: 25%;
}

/* seção membros*/
.jogadores{
    background-color: #a9a9a9;
}

.jogadores-titulo{
color: #3B0050;
text-align: center;
padding: 50px;
font-size: 45px;
}

.jogadores-geral-div{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.jogadores-pessoal{
    text-align: center;
    display: block;
    padding: 5px 0;
}

.jogador-imagem{
    width: 300px;
}

.jogadores-oficial{
    font-size: 23px;
    font-weight: 600;
    text-decoration: underline;
    color: #000000;
    padding: 15px 0;
}

.jogadores-icones-link:hover{
    font-weight: 100;
    text-decoration: underline;
    color: orange;
}

.jogadores-icones-link{
    width: 30px;
    padding: 5px 0 10px 0;
}

.jogadores-icones-link:hover{
    width: 35px;
    padding: 5px 0;
}

.rodape{
    background-color: black;
    text-align: center;
    padding: 50px;
    border-top: 2px solid #ffff00b2;
}

.rodape-titulo{
    font-size: 30px;
    font-weight: bold;
    color: #ffff00b2;
    padding: 10px 0;
}

.rodape-imagem{
    width: 700px;
}